/* You can add custom styles here. */

// @import "plugins/numbered";

.markdown .book-badge span.book-badge-title {
  //background-color: #505070; /* pick your color */
  --background-opacity: 0.3;
}

figure.align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.align-right img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.site-attrib {
  margin-top: 0.75rem;
  font-size: 0.9em;
  opacity: 0.8;
}

.site-attrib a {
  text-decoration: underline;
}

.site-attrib-hr {
  margin: 1.5rem 0 0.75rem;
  opacity: 0.25;
}
